* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    /* Font family */
    font-family: 'Roboto', sans-serif;
}

/* ---------- */

/* NAVBAR */

header {
    position: fixed;
    width: 100%;
    z-index: 9;
}

header nav {
    background-color: #fffffffa;
} 
header nav a.navbar-brand img {
    width: 50px;
    margin: 0 1rem;
}
header nav .center ul li a {
    color: black;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: all 0.5s;
}
header nav div.center ul li a:hover {
    color: #fb4226;
}
header div.right ul li.login {
    border-right: 1px solid #9b9b9b;
}

header div.right ul li.login, header div.right ul li.dropdown {
    color: #9b9b9b;
    padding: 0 1rem;
}

header div.right ul li.login i, header div.right ul li.dropdown i {
    font-size: 2.5rem;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 1px;
}

header div.right ul li.login a, header div.right ul li.dropdown a {
    display: inline;
    color: #9b9b9b;
    font-size: 1.3rem;
}
.navbar-white .navbar-toggler-icon {
    background-image: url(./../images/menu-options.png
);
    width: 30px;
    height: 20px;
}

/* END NAVBAR */

/* CAROUSEL */
.carousel_section {
    position: relative;
}

#demo .carousel-indicators {
    bottom: 8rem;
}

#demo .carousel-indicators li {
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-radius: 12px;
}

#demo .carousel-indicators li.active {
    background-color: #fb4226;
}

#demo .carousel-inner .carousel-item.slide1 {
    background-image: url(./../images/slide-1.jpg);
}

#demo .carousel-inner .carousel-item.slide2 {
    background-image: url(./../images/slide-2.jpg);
}

#demo .carousel-inner .carousel-item.slide3 {
    background-image: url(./../images/slide-3.jpg);
}

#demo .carousel-inner .carousel-item.slide4 {
    background-image: url(./../images/slide-4.jpg);
}

#demo .carousel-inner .carousel-item.slide5 {
    background-image: url(./../images/slide-5.png);
}

#demo .carousel-inner .carousel-item.slide1,
#demo .carousel-inner .carousel-item.slide2,
#demo .carousel-inner .carousel-item.slide3,
#demo .carousel-inner .carousel-item.slide4,
#demo .carousel-inner .carousel-item.slide5{
    height: 570px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 60px;
}

@media screen and (max-width: 1200px) {
    #demo .carousel-inner .carousel-item.slide1, #demo .carousel-inner .carousel-item.slide2, #demo .carousel-inner .carousel-item.slide3, #demo .carousel-inner .carousel-item.slide4, #demo .carousel-inner .carousel-item.slide5 {
        height: 400px;
    }
    #demo .carousel-indicators {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    #demo .carousel-inner .carousel-item.slide1, #demo .carousel-inner .carousel-item.slide2, #demo .carousel-inner .carousel-item.slide3, #demo .carousel-inner .carousel-item.slide4, #demo .carousel-inner .carousel-item.slide5 {
        height: 300px;
    }
    #demo .carousel-indicators {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    #demo .carousel-inner .carousel-item.slide1, #demo .carousel-inner .carousel-item.slide2, #demo .carousel-inner .carousel-item.slide3, #demo .carousel-inner .carousel-item.slide4, #demo .carousel-inner .carousel-item.slide5 {
        height: 200px;
    }
    #demo .carousel-indicators {
        display: none;
    }
}

.carousel-control-prev-icon {
    background-image: url(./../images/back-session.png);
}

.carousel-control-next-icon {
    background-image: url(./../images/next-session.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

#demo .carousel-inner .carousel-item a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
}

#demo .carousel-inner:hover a {
    opacity: 1;
}

.select_tab {
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 70%;
}

.select_tab .container {
    padding: 2rem;
    background-color: white;
}

.select_tab .select_movie {
    border-right: 1px solid #ebe8e8;
}

.select_tab .select_movie button{
    width: 100%;
    outline: none;
    border: none;
    background: white;
    padding-top: 6px;
}

.select_tab .buy_now button{
    width: 100%;
    font-size: 1.2rem;
}

.select_tab .select_movie button h4{
    display: inline;
}

.dropdown-menu {
    font-size: 1.2rem;
}
/* END CAROUSEL */

/* MOVIE LISTS */

#movie_list {
    padding-top: 8rem;
    padding-bottom: 5rem;
    width: 100%;
}
#movie_list .movie_maxwidth{
    max-width: 940px;
    margin: auto;
}
#movie_list .movie_maxwidth ul.nav{
    padding-bottom: 4rem;
}
#movie_list ul li.nav-item a.nav-link {
    color: black;
    font-size: 2rem;
    transition: all 0.5s; 
}
#movie_list ul li.nav-item .nav-link.active {
    color: #fb4226;
    font-size: 2.5rem;
}
#movie_list .tab-content .showing_item {
    position: relative; 
} 
#movie_list .tab-content .showing_item img.poster{
    width: 100%;
}
.tab-content .showing_item .item_poster {
    position: relative;
}
.tab-content .showing_item .item_poster .hover_poster{
    background: linear-gradient(to top, rgb(0, 0, 0), transparent 100%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}
.tab-content .showing_item:hover .hover_poster{
    opacity: 1;
    cursor: pointer;
}
.showing_item .item_poster .hover_poster a img{
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.showing_item .item_content{
    position: relative;
}
.showing_item .item_content .info span{
    border-radius: 4px;
    font-size: 1.4rem;
    padding: 2px;
    background: #fb4226;
    color: white;
    margin-right: 5px;
}
.showing_item .item_content .info  h3{
    display: inline;
    line-height: 3rem;
    font-size: 1.7rem;
    text-transform: capitalize;
}
.showing_item .item_content .info p{
    font-size: 1.3rem;
    color: grey;
    letter-spacing: 0.5px;
}
.showing_item .item_content button {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    background: #fb4226;
    border: none;
    outline: none;
    margin: 1rem 0;
    opacity: 0;
    transition: all 0.5s;
}
.showing_item:hover .info{
    opacity: 0;
} 
.showing_item:hover button{
    opacity: 1;
}


.showing_item .showing_rate p{
    font-size: 1.8rem;
    line-height: 1.2px;
    transform: translateY(12px);
    color: #fff;
}
.showing_item .showing_rate span{
    display: flex;
    justify-content: center;
    padding: 3px;
}
.showing_item .showing_rate span img{
    width: 8px;
    height: 8px;
    transform: translateY(12px);
}
.showing_item .showing_rate{
    background-color: rgba(12,27,54,.8);
    border: 1px solid #1f2e46;
    border-radius: 4px;
    width: 55px;
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    transform: translateX(-12px);
}
.slick-prev{
    left: -55px;
    top: 50%;
}
.slick-prev:before {
    background-image: url('./../images/back-session.png');
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
}
.slick-next:before {
    background-image: url('./../images/next-session.png');
    background-size: 50px 50px;
    display: inline-block;
    width: 50px; 
    height: 50px;
    content:"";
}


/* CinemaBlock  */
@media screen and (max-width: 768px){
    .col-768 {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.cinemaBlock{
    margin-bottom: 10rem;
}
.cinemaBlock .bg_cinemaBlock img{
    width: 100%;
    height: 10rem;
}
.cinemaBlock .col-md-1{
    border: 1px solid #e2e2e2;
    padding: 0;
    border-right: none;
}

.cinemaBlock .nav-item a img{
    width: 50px;
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    opacity: 0.35;
}
.cinemaBlock .nav-item a.active img{
    opacity: 1;
}
.cinemaBlock .nav-item a img:hover{
    opacity: 1;
}

.cinemaBlock .col-md-11{
    border: 1px solid#e2e2e2;
}
.cinemaBlock .col-md-4{
    padding: 0;  
    border-right: 1px solid #e2e2e2;
}
.cinemaBlock .nav-item{
    width: 100%;
}
.cinemaBlock .nav-link {
    background-color: white !important;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}
.cinemaBlock .nav-link.active .details{
    opacity: 1;
}
.cinemaBlock .nav-link .details{
    padding-bottom: 5px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    opacity: 0.35;
}

.cinemaBlock .nav-link .details:hover{
    opacity: 1;
}
.cinemaBlock .nav-link .details .cinemaImage .image {
    width: 54px;
    margin-right: 20px;
}

.cinemaBlock .nav-link .details .describe{
    display: block;
    font-size: 14px;
   
}
.cinemaBlock .nav-link .details .describe p{
    margin-bottom: 0;
    color: black;
}
.cinemaBlock .nav-link .details .describe .address{
    color: #949494;
    font-size: 12px;
}
.cinemaBlock .nav-link .details .describe .green{
    color: #8bc541;
}
.cinemaBlock .nav-link .details .describe .pink{
    color: #df0d7a;
}
.cinemaBlock .nav-link .details .describe .grey{
    color: #9c9c9c;
}
.cinemaBlock .nav-link .details .describe .yellow{
    color: #e5a813;
}
.cinemaBlock .nav-link .details .describe .orange{
    color:#ca4137;
}
.cinemaBlock .nav-link .details .describe .moreInfo{
    color: red;
}
/* col-md-8  */
.cinemaBlock .col-md-8{
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}
.cinemaBlock .big-details {
    padding: 10px 0;
    border-bottom: 1px solid #e2e2e2;
}

.cinemaBlock .big-details .cinemaImage img{
    margin-right: 15px;
}
.cinemaBlock .big-details .titleInfo{
    width: 100%;
    padding-top: 5px;
}
.cinemaBlock .big-details .titleInfo .bg-green{
    background-color: green;
}
.cinemaBlock .big-details .titleInfo .bg-red{
    background-color: red;
}

.cinemaBlock .big-details .titleInfo span{
    color: #fff;
    border-radius: 4px;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 12px;
    min-width: 33px;
    float: left;
    text-align: center;
}

.cinemaBlock .big-details .titleInfo .movieTitle{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 22px;
}
.cinemaBlock .big-details .titleInfo .info{
    margin-bottom: 0;
    font-size: 14px;
    color: #9b9b9b;
}
.cinemaBlock .big-details .typeTiming{

    padding-top: 8px;
}
.cinemaBlock .big-details .typeTiming .version{
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}
.cinemaBlock .big-details .typeTiming .session{
    display: flex;
    flex-flow: row wrap;
}
.cinemaBlock .big-details .typeTiming .session a {
    width: calc(25% - 13px);
    text-decoration: none;
    color: #9b9b9b;
    padding: 10px 0;
    background-color: #fbfbfb;
    margin: 0 10px 10px 0;
    border-radius: 7px;
    display: block;
    border: 1px solid #9b9b9b;
    text-align: center; 
}
.cinemaBlock .big-details .typeTiming .session .start-time{
    
    color: #108f3e;
    transition: all 0.3s;
}
.cinemaBlock .big-details .typeTiming .session a:hover .start-time{
    color: red;
}

/* End -- CinemaBlock  */

/* NEWS */

#news .news__content {
    max-width: 94rem;
    margin: auto;
}

.news__content .news__nav .nav-pills li a {
    color: black;
    background-color: transparent;
    font-size: 2rem;
    font-weight: 500;
    transition: .2s all;
    line-height: 2rem;
}

.news__content .news__nav .nav-pills li a.active {
    color: #fa5238;
    font-size: 2.3rem;
}

.news__content .news__nav .nav-pills li:hover a {
    font-size: 2.3rem;
}

.news__nav .news__main .news__item a img, .news__nav .news__secondary .news__item a img {
    width: 100%;
    border-radius: .4rem;
}

.news__main>div, .news__secondary>div {
    padding: 0 .75rem;
}

.news__item {
    margin-bottom: 2rem;
}

.news__item h4 {
    height: 4.2rem;
    overflow: hidden;
}

.news__item h4 a {
    color: black;
    transition: .4s all;
    font-size: 1.6rem;
    text-decoration: none;
}

.news__item h4:hover a {
    color: #fa5238;
}

.news__item p {
    font-size: 1.3rem;
    color: #4a4a4a;
    text-align: justify;
    height: 5.5rem;
    overflow: hidden;
}

.news__item span {
    font-size: 1.2rem;
    color: #bbb;
    cursor: pointer;
}

.news__item span img {
    width: 1.8rem;
    height: auto;
    transition: .3s all;
}

.news__item span:hover img {
    transform: scale(1.1);
}

.news__secondary .news__item--small .news__title {
    opacity: .7;
}

#news .news__content .news__loadmore a {
    color: #949494;
    border: 1px solid #949494;
    font-size: 1.4rem;
    padding: .7rem 2.5rem;
    border-radius: 4px;
    background-color: transparent;
    transition: .3s all;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}

#news .news__content .news__loadmore a:hover {
    color: white;
    border: 1px solid #fb4226;
    background-color: #fb4226;
}

/* END NEWS */

/* APPLICATION */

#app .app__wrapper {
    background: url("../images/backapp.jpg") repeat-x;
    background-size: contain;
    height: auto;
    padding: 12rem 0 8rem 0;
}

.app__wrapper .app__content {
    max-width: 94rem;
    margin: 0 auto;
}

.app__content .row {
    margin-left: 0;
    margin-right: 0;
}

.app__content .app__left {
    padding-top: 6rem;
}

.app__content .app__left h1 {
    font-size: 3.5rem;
    line-height: 5rem;
}

.app__content .app__left p {
    font-size: 1.6rem;
}

.app__content .app__left button {
    background-color: #fb4226;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 4px;
    line-height: 2rem;
}

.app__content .app__left button:focus {
    box-shadow: none;
}

.app__content .app__left p.download {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.app__content .app__left p.download a {
    border-bottom: 1px solid white;
}

.app__content .app__right {
    position: relative;
}

.app__content .app__right>img {
    width: 44%;
}

.app__content .app__right .app__slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    padding: 1.05rem .54rem;
    width: 44%;
}

.app__slider .slider__content {
    border-radius: 2rem;
    overflow: hidden;
}

.app__slider .slider__content .slick-list, .app__slider .slider__content .slick-track, .app__slider .slider__content .slick-slide>div {
    height: 100%;
}

.app__slider .slide__item {
    width: 100%;
    height: 100%;
}

.app__slider .slide__item img {
    width: 100%;
    height: 100%;
}

/* END APPLICATION */

/* FOOTER */

.footer__wrapper {
    background: #222;
}

.footer__wrapper .footer__content {
    max-width: 94rem;
    margin: 0 auto;
}

.footer__content .footer__info {
    padding: 2rem 0;
    border-bottom: 1px solid #4a4a4a;
}

.footer__content .footer__info .info__item h4 {
    font-size: 1.12rem;
}

.info__item--left ul {
    list-style-type: none;
}

.info__item--left ul li a:hover {
    color: white;
}

.info__item--left ul li a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #949494;
    font-weight: 500;
    transition: .3s all;
    line-height: 2.3;
}

.info__item--middle a {
    display: block;
    width: 3rem;
    height: 3rem;
    text-decoration: none;
    border-radius: 50%;
    overflow: hidden;
    transition: .2s all;
    margin-right: 1.9rem;
}

.info__item--middle a:hover {
    opacity: .7;
}

.info__item--middle a img{
    width: 100%;
    height: 100%;
}

.info__item--right a {
    display: block;
    text-decoration: none;
    margin: .7rem;
}

.info__item--right a img {
    width: auto;
    height: 3rem;
}

.footer__content .footer__copyright {
    padding: 2rem 0;
}

.footer__copyright > div:nth-child(2) {
    padding: 0 1.5rem;
}

.footer__copyright img {
    border-radius: .8rem;
    width: 100%;
}

.footer__copyright h4 {
    color: white;
    font-size: 1.3rem;
}

.footer__copyright p {
    color: #949494;
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.8;
}

.footer__copyright p a {
    color: #fb4226;
    font-size: 1.2rem;
    text-decoration: none;
}

.footer__copyright > div > a {
    text-align: end;
    position: relative;
    display: flex;
}

.footer__copyright a img {
    width: 83%;
    position: absolute;
    right: 0;
}

/* END FOOTER */